.product-page{
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 80%;
    padding: 2em;
}
.product-page__banner{
    margin: 1em 0;
    width: 100%;
}

.product-page{
    .productbox{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .productgallery{
        &__bigpicture{
            border: 1px #EDEDED solid;
            box-sizing: border-box;
            width: 100%;
            height: 300px;
            padding: 1em;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
                display: block;
            }
        }
        &__thumbnails{
            display: flex;
            flex-wrap: wrap;
            img{
                cursor: pointer;
                box-sizing: border-box;
                height: 100px;
                width: 100px;
                display: block;
                object-fit: contain;
                padding: .5em;
            }
            img:hover{
                border: 1px solid #c7c7c7;;
            }
        }
    }
    .moreviews{
        font-size: 1.3rem;
    }

}