body{
    margin: 0;
    background-color: #111111;
}
.link{
    text-decoration: none;
}
.link--white{
    @extend .link;
    color: #ffffff;
}
.link--white:hover{
    color: #a39161;
}
.link--active{
    @extend .link;
    color: #a39161;
}

.btn{
    font-size: 1rem;
    border: none;
    padding: .3em .5em;
    border-radius: .2em;
}

.btn--blue{
    @extend .btn;
    background-image: linear-gradient(to bottom, #33b0e9, #24a5e4, #179ade, #0c8ed8, #0a83d1);
    color: #ffffff;
    .fa-envelope{
        padding-right: .5em;
        border-right: 1px solid gray;
    }
}
.headertop__righticons{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    .fa-phone{
        display: none;
    }
    a{
        margin-right: 1em;
    }
}

.fpheader{
    height: 100vh;
    background: url(../img/frontpage/new-home-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.fpheader-headertop{
    border-bottom: 1px solid #413a27;
    background-color: rgba(#000000, .7);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    &__logo{
        height: 40px;
        width: 40px;
    }
}

.headernav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    background-color: black;
    padding: 1rem 0;
    &__linklist{
        list-style-type: none;
        padding: 0;
    }
}
.headermiddlelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7em 0 0 0;
}

@media(min-width:650px){
    .headernav{
        display: flex;
        justify-content: center;
        &__linklist{
            display: flex;
        }
        &__linklistitem{
            text-transform: uppercase;
            margin-right: 1.5em;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }   
    .headertop__righticons{
        .fa-phone{
            display: block;
        }
    }
}

.showroombanner{
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}


.heroslider{
    position: relative;
    height: 250px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
.slides{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slide a{
    color: #a39161;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide{
    position: absolute;
    opacity: 1;
    height: 250px;
    width: 100%;
    transition: opacity .5s ease-in;
        &__contentcontainer{
        padding: .5em;
        background: rgba(0, 0, 0, .7)
    }
}

@media(min-width:850px){
    .heroslider{
        height: 500px;
    }
    .slide{
        height: 500px;
        a{
            box-sizing: border-box;  
            padding: 1.5em 0;
            font-size: 3rem;
        }
        &__contentcontainer{
            padding: 0;
            background: transparent;
        }
    }
    .slide1 a{
            justify-content: flex-end;
    }
    .slide2 a{
            justify-content: flex-start;
    }
    .slide3 a{
            justify-content: flex-start;
            align-items: flex-start
    }
    .slide4 a{
            justify-content: flex-end;
            align-items: flex-start;
    }

}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.heroslider i{
    opacity: 1;
    transition: ease-in .2s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 3em;
    padding: .5em .25em;
    color: #a39161;
}
.heroslider i:first-of-type{
    left: 2%;
}
.heroslider i:last-of-type{
    right: 2%;
}


.socialboxFB{
    background: url(../img/frontpage/social-1.jpg) 
}
.socialboxBlogger{
    background: url(../img/frontpage/social-2.jpg)
}
.socialboxTwitter{
    background: url(../img/frontpage/social-3.jpg)
}

.socialbox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.socialicon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 7rem;
}
@media(min-width:600px){
    .socialboxes{
        display: grid;
        grid-template-columns: repeat(3, 1fr)

    }
    .socialbox{
        min-height: 300px;

    }
}

.textbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.textbox__title{
    text-decoration: none;
    font-size: 1.4rem;
    color: #a39161;
    border: 2px solid #a39161;
    padding: .2em .5em;
}

@media(min-width:600px){
    .textboxes{
        margin: 2em;
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: repeat(3,1fr);
    }
}