.brandsbanner {
  padding: 1em;
  background: url(../img/brands/banner-speaker.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  max-height: 300px;
}
.brandsbanner h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.5rem;
  align-self: flex-end;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.7);
}
.brandsbanner img {
  width: 20%;
  align-self: flex-start;
}

@media (min-width: 650px) {
  .brandsbanner {
    padding: 3em;
    max-height: initial;
    height: 30vh;
  }
  .brandsbanner h1 {
    font-size: 1.5rem;
    align-self: center;
    background-color: transparent;
  }
  .brandsbanner img {
    width: 12%;
    align-self: flex-start;
  }
}
.brandboxes {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  padding: 1em;
}

.brand-logos {
  margin-bottom: 1em;
  padding: 1em;
  background-image: linear-gradient(to right, #060606, #111111, #191919, #202020, #272727);
}
.brand-logos .title {
  text-transform: uppercase;
  color: #a09167;
  margin-top: 0;
}
.brand-logos img {
  width: 100%;
  display: block;
}

.brand-main {
  color: #ffffff;
  padding: 1em;
  background: url(../img/brands/brands-bg-2.jpg) no-repeat 10%;
  background-size: cover;
}
.brand-main .title {
  color: #a09167;
  margin-top: 0;
}
.brand-main a {
  color: #a39161;
}

@media (min-width: 650px) {
  .brandboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .brand-logos {
    margin: 0;
  }
}
.shopfront__categorylist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.shopfront__categorylist li {
  position: relative;
}
.shopfront__categorylist img {
  height: 100%;
  width: 100%;
  display: block;
}
.shopfront__categorylist a {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.shop--solid {
  background-color: #A39161;
}
.shop--solid a {
  text-decoration: none;
  font-weight: bold;
}
.shop--solid div {
  background-color: #685225;
  padding: 0.7em 1em;
}

@media (min-width: 650px) {
  .shopfront__categorylist {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
  }
}
.breadcrumbs {
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 1/-1;
  display: flex;
}
.breadcrumbs p {
  margin: 0;
}
.breadcrumbs a {
  color: #A39161;
  text-decoration: none;
}
.breadcrumbs a::after {
  color: black;
  margin: 0 0.5em;
  content: "/";
}

.shop-sorting {
  display: flex;
  flex-direction: column;
}

.shopsite {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 80%;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-gap: 1em;
}

.shopby {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1e1e1;
  margin: 0 0 1.3em 0;
  padding: 1.8rem;
}
.shopby ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.7rem 0;
}
.shopby ul li {
  margin-bottom: 0.5em;
}
.shopby ul li:last-of-type {
  margin: 0;
}
.shopby-category a {
  font-weight: bold;
}
.shopby-price {
  margin-bottom: 0;
  padding-bottom: 0;
}
.shopby-price ul li {
  margin: 0.2rem 0;
}
.shopby-manufacturer {
  padding-top: 0;
}
.shopby-manufacturer ul li {
  margin: 0.2rem 0;
}
.shopby a {
  font-size: 0.9em;
  text-decoration: none;
  color: #A39161;
}
.shopby a:hover {
  color: #706c61;
}
.shopby h1 {
  font-size: 1.125rem;
  color: #a39161;
}
.shopby h2 {
  font-size: 1rem;
}
.shopby h3 {
  margin-bottom: 0.5em;
  font-size: 0.875rem;
}

.shop-middle__title {
  font-size: 1.5rem;
  margin-top: 0;
}

.sortingbar {
  justify-content: space-between;
  display: flex;
  min-height: 70px;
  background-color: #E1E1E1;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
}
.sortingbar label {
  font-size: 0.8rem;
  font-weight: bold;
}
.sortingbar i {
  cursor: pointer;
  color: #666666;
}
.sortingbar i:hover {
  color: #A39161;
}
.sortingbar .item--active {
  color: #A39161;
}
.sortingbar__viewlistgrid {
  align-self: center;
}
.sortingbar__sortbybox {
  margin-right: 2em;
}
.sortingbar__left {
  display: flex;
}
.sortingbar__right {
  display: flex;
}
.sortingbar__itemsshown {
  font-weight: bold;
  margin: 0 0.5em 0 0;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__imagecontainer {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  padding: 1em;
  height: 200px;
  border: 1px solid #EDEDED;
}
.product__imagecontainer:hover {
  border-color: #A39161;
}
.product__imagecontainer img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.product__name {
  color: black;
  text-decoration: none;
}
.product__pricebox {
  display: flex;
}
.product__oldprice {
  margin-right: 0.5em;
  color: #A0A0A0;
  text-decoration: line-through;
}
.product__newprice {
  color: #A39161;
}

.manufacturerlist h1 {
  font-size: 0.9rem;
}
.manufacturerlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.manufacturerlist ul li {
  text-transform: uppercase;
  margin: 0.5em 0 0.5em 0.5em;
  font-size: 0.9rem;
}

.showroombanner {
  width: 100%;
}
.showroombanner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.heroslider {
  position: relative;
  height: 250px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slides {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slide a {
  color: #a39161;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  opacity: 1;
  height: 250px;
  width: 100%;
  transition: opacity 0.5s ease-in;
}
.slide__contentcontainer {
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 850px) {
  .heroslider {
    height: 500px;
  }

  .slide {
    height: 500px;
  }
  .slide a {
    box-sizing: border-box;
    padding: 1.5em 0;
    font-size: 3rem;
  }
  .slide__contentcontainer {
    padding: 0;
    background: transparent;
  }

  .slide1 a {
    justify-content: flex-end;
  }

  .slide2 a {
    justify-content: flex-start;
  }

  .slide3 a {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .slide4 a {
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.heroslider i {
  opacity: 1;
  transition: ease-in 0.2s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 3em;
  padding: 0.5em 0.25em;
  color: #a39161;
}

.heroslider i:first-of-type {
  left: 2%;
}

.heroslider i:last-of-type {
  right: 2%;
}

.socialboxFB {
  background: url(../img/frontpage/social-1.jpg);
}

.socialboxBlogger {
  background: url(../img/frontpage/social-2.jpg);
}

.socialboxTwitter {
  background: url(../img/frontpage/social-3.jpg);
}

.socialbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.socialicon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 7rem;
}

@media (min-width: 600px) {
  .socialboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .socialbox {
    min-height: 300px;
  }
}
.textbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  margin: 1em;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.textbox__title {
  text-decoration: none;
  font-size: 1.4rem;
  color: #a39161;
  border: 2px solid #a39161;
  padding: 0.2em 0.5em;
}

@media (min-width: 600px) {
  .textboxes {
    margin: 2em;
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }
}
h1, h2, h3, h4, h5, h6, label, p, a {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #111111;
}

.body--white {
  background-color: #fff;
}

.body--black {
  background-color: black;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--brownish {
  color: #A39161;
}

.link, .link--active, .link--brownish, .link--black, .link--white {
  text-decoration: none;
}

.link--white {
  color: #ffffff;
}

.link--white:hover {
  color: #a39161;
}

.link--black {
  color: black;
}
.link--black:hover {
  color: #a39161;
}

.link--brownish {
  color: #a39161;
}
.link--brownish:hover {
  color: #706c61;
}

.link--active {
  color: #a39161;
}

.btn, .btn--blue, .btn--brownish {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
}

.btn--brownish {
  border-radius: 0;
  padding: 0.5em 1em;
  background-color: #948356;
  color: #ffffff;
}

.btn--blue {
  background-image: linear-gradient(to bottom, #33b0e9, #24a5e4, #179ade, #0c8ed8, #0a83d1);
  color: #ffffff;
}
.btn--blue .fa-envelope {
  padding-right: 0.5em;
  border-right: 1px solid gray;
}

.headertop__righticons {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.headertop__righticons .fa-phone {
  display: none;
}
.headertop__righticons a {
  margin-right: 1em;
}

.fpheader {
  height: 100vh;
  background: url(../img/frontpage/new-home-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.fpheader-headertop {
  border-bottom: 1px solid #413a27;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.fpheader-headertop__logo {
  height: 40px;
  width: 40px;
}

.headernav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-color: black;
  padding: 1rem 0;
}
.headernav__linklist {
  list-style-type: none;
  padding: 0;
}

.headermiddlelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7em 0 0 0;
}

@media (min-width: 650px) {
  .headernav {
    display: flex;
    justify-content: center;
  }
  .headernav__linklist {
    display: flex;
  }
  .headernav__linklistitem {
    text-transform: uppercase;
    margin-right: 1.5em;
  }
  .headernav__linklistitem:last-of-type {
    margin-right: 0;
  }

  .headertop__righticons .fa-phone {
    display: block;
  }
}
footer {
  background-color: #A39161;
  padding: 0.8em 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .contactdetails {
  padding: 0;
  font-size: 0.6em;
  font-style: normal;
  list-style-type: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
footer div {
  display: flex;
  flex-wrap: wrap;
}
footer div:last-of-type {
  justify-content: flex-end;
}
footer .returnandprivacy {
  padding: 0;
  display: flex;
  list-style-type: none;
  color: #ffffff;
  margin: 0;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}
footer .returnandprivacy p {
  margin: 0 0.5em;
}
footer .returnandprivacy a {
  color: #ffffff;
}
footer .paymentmethods {
  display: none;
}
footer .footer__sociallist {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
footer .footer__social a {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

@media (min-width: 650px) {
  footer .paymentmethods {
    display: flex;
    width: 70%;
    height: 70%;
    margin-right: 1em;
  }
  footer .returnandprivacy {
    margin-left: 1em;
  }
}
.header {
  height: initial;
  background: black;
}

/*# sourceMappingURL=shared.css.map */
