body {
  margin: 0;
  background-color: #111111;
}

.link, .link--active, .link--white {
  text-decoration: none;
}

.link--white {
  color: #ffffff;
}

.link--white:hover {
  color: #a39161;
}

.link--active {
  color: #a39161;
}

.btn, .btn--blue {
  font-size: 1rem;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
}

.btn--blue {
  background-image: linear-gradient(to bottom, #33b0e9, #24a5e4, #179ade, #0c8ed8, #0a83d1);
  color: #ffffff;
}
.btn--blue .fa-envelope {
  padding-right: 0.5em;
  border-right: 1px solid gray;
}

.headertop__righticons {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.headertop__righticons .fa-phone {
  display: none;
}
.headertop__righticons a {
  margin-right: 1em;
}

.fpheader {
  height: 100vh;
  background: url(../img/frontpage/new-home-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.fpheader-headertop {
  border-bottom: 1px solid #413a27;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.fpheader-headertop__logo {
  height: 40px;
  width: 40px;
}

.headernav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background-color: black;
  padding: 1rem 0;
}
.headernav__linklist {
  list-style-type: none;
  padding: 0;
}

.headermiddlelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7em 0 0 0;
}

@media (min-width: 650px) {
  .headernav {
    display: flex;
    justify-content: center;
  }
  .headernav__linklist {
    display: flex;
  }
  .headernav__linklistitem {
    text-transform: uppercase;
    margin-right: 1.5em;
  }
  .headernav__linklistitem:last-of-type {
    margin-right: 0;
  }

  .headertop__righticons .fa-phone {
    display: block;
  }
}
footer {
  background-color: #A39161;
  padding: 0.8em 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .contactdetails {
  padding: 0;
  font-size: 0.6em;
  font-style: normal;
  list-style-type: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
footer div {
  display: flex;
  flex-wrap: wrap;
}
footer div:last-of-type {
  justify-content: flex-end;
}
footer .returnandprivacy {
  padding: 0;
  display: flex;
  list-style-type: none;
  color: #ffffff;
  margin: 0;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}
footer .returnandprivacy p {
  margin: 0 0.5em;
}
footer .returnandprivacy a {
  color: #ffffff;
}
footer .paymentmethods {
  display: none;
}
footer .footer__sociallist {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
footer .footer__social a {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

@media (min-width: 650px) {
  footer .paymentmethods {
    display: flex;
    width: 70%;
    height: 70%;
    margin-right: 1em;
  }
  footer .returnandprivacy {
    margin-left: 1em;
  }
}
.header {
  height: initial;
  background: black;
}

/*# sourceMappingURL=shared.css.map */
