.breadcrumbs {
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  grid-column: 1/-1;
  display: flex;
}
.breadcrumbs p {
  margin: 0;
}
.breadcrumbs a {
  color: #A39161;
  text-decoration: none;
}
.breadcrumbs a::after {
  color: black;
  margin: 0 0.5em;
  content: "/";
}

.shop-sorting {
  display: flex;
  flex-direction: column;
}

.shopsite {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 80%;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-gap: 1em;
}

.shopby {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1e1e1;
  margin: 0 0 1.3em 0;
  padding: 1.8rem;
}
.shopby ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.7rem 0;
}
.shopby ul li {
  margin-bottom: 0.5em;
}
.shopby ul li:last-of-type {
  margin: 0;
}
.shopby-category a {
  font-weight: bold;
}
.shopby-category .categoryactive {
  color: #706c61;
}
.shopby-price {
  margin-bottom: 0;
  padding-bottom: 0;
}
.shopby-price ul li {
  margin: 0.2rem 0;
}
.shopby-manufacturer {
  padding-top: 0;
}
.shopby-manufacturer ul li {
  margin: 0.2rem 0;
}
.shopby a {
  font-size: 0.9em;
  text-decoration: none;
  color: #A39161;
}
.shopby a:hover {
  color: #706c61;
}
.shopby h1 {
  font-size: 1.125rem;
  color: #a39161;
}
.shopby h2 {
  font-size: 1rem;
}
.shopby h3 {
  margin-bottom: 0.5em;
  font-size: 0.875rem;
}

.shop-middle__title {
  font-size: 1.5rem;
  margin-top: 0;
}

.sortingbar {
  justify-content: space-between;
  display: flex;
  min-height: 70px;
  background-color: #E1E1E1;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  padding: 0.5em 0.5em;
  margin-bottom: 1em;
}
.sortingbar label {
  font-size: 0.8rem;
  font-weight: bold;
}
.sortingbar i {
  cursor: pointer;
  color: #666666;
}
.sortingbar i:hover {
  color: #A39161;
}
.sortingbar .item--active {
  color: #A39161;
}
.sortingbar__viewlistgrid {
  align-self: center;
}
.sortingbar__sortbybox {
  margin-right: 2em;
}
.sortingbar__left {
  display: flex;
}
.sortingbar__right {
  display: flex;
}
.sortingbar__itemsshown {
  font-weight: bold;
  margin: 0 0.5em 0 0;
}

.productlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__imagecontainer {
  box-sizing: border-box;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  padding: 1em;
  height: 200px;
  border: 1px solid #EDEDED;
}
.product__imagecontainer:hover {
  border-color: #A39161;
}
.product__imagecontainer img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  display: block;
}
.product__name {
  color: black;
  text-decoration: none;
  text-align: center;
}
.product__pricebox {
  display: flex;
}
.product__oldprice {
  margin-right: 0.5em;
  color: #A0A0A0;
  text-decoration: line-through;
}
.product__price {
  color: #A39161;
}
.manufacturerlist h1 {
  font-size: 0.9rem;
}
.manufacturerlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.manufacturerlist ul li {
  text-transform: uppercase;
  margin: 0.5em 0 0.5em 0.5em;
  font-size: 0.9rem;
}

.loader {
  position: absolute;
  top: 0;
  background-color: #121212;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes logoAnim {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.pulse {
  animation: logoAnim 2s infinite;
}

.loaderout {
  animation: LoadOut 1s forwards;
}

@keyframes LoadOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=shop.css.map */
